@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/shared/MasterPage.cshtml";
}

<script src="~/content/js/fuelux/loader.min.js"></script>
<script src="~/scripts/Project.js"></script>

<script>
    $(document).ready(function () {
        App.wizard();
    });
</script>

<div class="row arabic">
    <div class="col-md-12 arabic">
        @*<div class="block-flat">*@
        <div class="cl-mcont">
            <div class="row wizard-row">
                <div class="col-md-12 fuelux">
                    <div class="block-wizard">
                        <div id="wizard1" class="wizard wizard-ux">
                            <ul class="steps">
                                <li data-target="#step1" class="active">الخطوة الاولي<span class="chevron"></span></li>
                                <li data-target="#step2">الخطوة الثانية<span class="chevron"></span></li>
                                <li data-target="#step3">الخطوة الثالثة<span class="chevron"></span></li>
                            </ul>
                            <div class="actions">
                                <button type="button" class="btn btn-xs btn-prev btn-default"><i class="icon-arrow-left"></i>السابق</button>
                                <button type="button" class="btn btn-xs btn-next btn-default" data-last="Finish">التالي<i class="icon-arrow-right"></i></button>
                            </div>
                        </div>
                        <div class="step-content">
                            <form id="ProjCreate" class="form-horizontal group-border-dashed" action="#" novalidate="" parsley-validate="">
                                <div class="step-pane active" id="step1">
                                    <div class="form-group no-padding">
                                        <div class="col-sm-12">
                                            <h3 class="hthin" style="width: 100%; text-align: right;">انشاء مشروع جديد</h3>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label Arabic" style="text-align: center;">اسم المشروع</label>
                                        <div class="col-sm-6 Arabic">
                                            <input class="form-control parsley-validated parsley-error" id="name" name="name" parsley-trigger="change" required="" parsley-error-message="يجب ادخال اسم المشروع" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label Arabic" style="text-align: center;">عنوان المشروع</label>
                                        <div class="col-sm-6 Arabic">
                                            <input class="form-control parsley-validated parsley-error" id="address" name="address" parsley-trigger="change" required="" parsley-error-message="يجب ادخال عنوان المشروع" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label Arabic" style="text-align: center;">المساحة</label>
                                        <div class="col-sm-6 Arabic">
                                            <input class="form-control parsley-validated parsley-error" onkeypress="return isNumberKey(event)" id="space" name="space" parsley-type="number" parsley-type-number-message="يرجي ادخال مساحة صحيحة" parsley-trigger="change" required="" parsley-required-message="يجب ادخال مساحة المشروع" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                    <label class="col-sm-3 control-label Arabic" style="text-align:center;">تاريخ الإنشاء</label>
                                    <div class="col-sm-6 Arabic">
                                        <input style="direction:ltr;" data-mask="datetime" id="date" name="date" class="form-control datetime parsley-validated parsley-error" parsley-trigger="change" required="" parsley-required-message="يجب ادخال تاريخ الإنشاء" size="16" value="" type="text">
                                    </div>
                                </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button class="btn btn-default">الغاء</button>
                                            <button data-wizard="#wizard1" class="btn btn-primary wizard-next">الخطوة التالية <i class="fa fa-caret-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="step-pane" id="step2">
                                    <div class="form-group no-padding">
                                        <div class="col-sm-12">
                                            <h3 class="hthin" style="width: 100%; text-align: right;">بيانات اخري</h3>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label Arabic" style="text-align: center;">المنظر الأول</label>
                                        <div class="col-sm-6 Arabic">
                                            <input class="form-control parsley-validated parsley-error" onkeypress="return isNumberKey(event)" id="first" name="first" parsley-type="number" parsley-type-number-message="يرجي ادخال رقم صحيح" parsley-trigger="change" required="" parsley-required-message="يجب ادخال المنظر الأول" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label Arabic" style="text-align: center;">المنظر الثاني</label>
                                        <div class="col-sm-6 Arabic">
                                            <input class="form-control parsley-validated parsley-error" onkeypress="return isNumberKey(event)" id="second" name="second" parsley-type="number" parsley-type-number-message="يرجي ادخال رقم صحيح" parsley-trigger="change" required="" parsley-required-message="يجب ادخال المنظر الثاني" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label Arabic" style="text-align: center;">المنظر الثالث</label>
                                        <div class="col-sm-6 Arabic">
                                            <input class="form-control parsley-validated parsley-error" onkeypress="return isNumberKey(event)" id="third" name="third" parsley-type="number" parsley-type-number-message="يرجي ادخال رقم صحيح" parsley-trigger="change" required="" parsley-required-message="يجب ادخال المنظر الثالث" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label Arabic" style="text-align: center;">المنظر الرابع</label>
                                        <div class="col-sm-6 Arabic">
                                            <input class="form-control parsley-validated parsley-error" onkeypress="return isNumberKey(event)" id="forth" name="forth" parsley-type="number" parsley-type-number-message="يرجي ادخال رقم صحيح" parsley-trigger="change" required="" parsley-required-message="يجب ادخال المنظر الرابع" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button data-wizard="#wizard1" class="btn btn-default wizard-previous"><i class="fa fa-caret-left"></i>السابق</button>
                                            <button data-wizard="#wizard1" class="btn btn-primary wizard-next">الخطوة التالية <i class="fa fa-caret-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="step-pane" id="step3">
                                    <div class="form-group no-padding">
                                        <div class="col-sm-12">
                                            <h3 class="hthin" style="width: 100%; text-align: right;">بيانات اخري</h3>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label Arabic" style="text-align: center;">عدد الأدوار</label>
                                        <div class="col-sm-6 Arabic">
                                            <input class="form-control parsley-validated parsley-error" onkeypress="return isNumberKey(event)" id="floors" name="floors" parsley-type="number" parsley-type-number-message="يرجي ادخال رقم صحيح" parsley-trigger="change" required="" parsley-required-message="يجب ادخال عدد الأدوار" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label Arabic" style="text-align: center;">التكلفة المتوقعة</label>
                                        <div class="col-sm-6 Arabic">
                                            <input class="form-control parsley-validated parsley-error" onkeypress="return isNumberKey(event)" id="cost" name="cost" parsley-type="number" parsley-type-number-message="يرجي ادخال رقم صحيح" parsley-trigger="change" required="" parsley-required-message="يجب ادخال التكلفة المتوقعة" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label Arabic" style="text-align: center;">نسبة الملكية</label>
                                        <div class="col-sm-6 Arabic">
                                            <input class="form-control parsley-validated parsley-error" onkeypress="return isNumberKey(event)" id="per" name="per" data-mask="percent" parsley-type="number" parsley-type-number-message="يرجي ادخال نسبة صحيحة" parsley-trigger="change" required="" parsley-required-message="يجب ادخال نسبة الملكية" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button data-wizard="#wizard1" class="btn btn-default wizard-previous"><i class="fa fa-caret-left"></i>السابق</button>
                                            <button data-wizard="#wizard1" class="btn btn-success wizard-next" onclick="SubmitForm()"><i class="fa fa-check"></i>انشاء المشروع</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*</div>*@
    </div>
</div>
