@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/content/images/mak-logo.png">

    <title>Almaksoud-login</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="/content/js/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <link rel="stylesheet" href="/content/fonts/font-awesome-4/css/font-awesome.min.css">
    <link href="~/content/js/jquery.gritter/css/jquery.gritter.css" rel="stylesheet" />
    <script src="/content/js/jquery.js"></script>
    <script src="~/content/js/jquery.parsley/parsley.js"></script>
    <script type="text/javascript" src="/content/js/behaviour/general.js"></script>

    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/content/js/behaviour/voice-commands.js"></script>
    <script src="/content/js/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/content/js/jquery.flot/jquery.flot.js"></script>
    <script type="text/javascript" src="/content/js/jquery.flot/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="/content/js/jquery.flot/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="/content/js/jquery.flot/jquery.flot.labels.js"></script>
    <script src="~/content/js/jquery.gritter/js/jquery.gritter.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	  <script src="../../assets/js/html5shiv.js"></script>
	  <script src="../../assets/js/respond.min.js"></script>
	<![endif]-->
    <script src="~/scripts/User.js"></script>
    <!-- Custom styles for this template -->
    <link href="/content/css/style.css" rel="stylesheet" />

</head>

<body class="texture">

    <div id="cl-wrapper" class="login-container">

        <div class="middle-login">
            <div class="block-flat">
                <div class="header">
                    <h3 class="text-center">
                        <img class="logo-img" style="width:40px; height:40px;" src="/content/images/mak-logo.png" alt="logo" />ابراج المقصود</h3>
                </div>
                <div>
                    <form id="LoginForm" style="margin-bottom: 0px !important;" novalidate="" parsley-validate="" class="form-horizontal">
                        <div class="content">
                            <h4 class="title" style="text-align: right;">تسجبل الدخول</h4>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input id="Username" onkeyup="EnableBtns()" type="text" placeholder="اسم المستخدم" id="username" class="form-control parsley-validated parsley-error" parsley-trigger="change" required="" parsley-minlength="2" parsley-minlength-message="اسم المستخدم يجب ان يكون حرفان علي الاقل" parsley-required-message="يجب ادخال اسم المستخدم">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input id="Password" onkeyup="EnableBtns()" type="password" parsley-minlength="4" parsley-minlength-message="كلمة المرور يجب ان تكون اربعة احرف علي الاقل" placeholder="كلمة المرور" class="form-control parsley-validated parsley-error" parsley-trigger="change" required="" parsley-required-message="يجب ادخال كلمة المرور">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="foot">
                            <button class="btn btn-primary" id="LoginBtnSubmit" data-dismiss="modal" type="submit" style="float: right;">تسجيل الدخول</button>
                            <img id="LoaderImg" style="display: none; float: right; margin-bottom: 15px; width: 30px; height: 30px;" src="~/content/images/loader_40x40.gif" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center out-links"><a href="#">&copy; 2013 Delta Code</a></div>
        </div>

    </div>
</body>
</html>

